<body>
<form class="container m-6 lg-6">
    <h2 class="header">
        LOGIN
    </h2>
    <div class="inputs">
        <label for="email" class="email-label">Email</label>
        <input type="email" name="email" required class="email-inp" title="enter your email">
            <br>
         <label for="password" class="password">Password </label>
        <input type="password" name="password" required class="password-inp" title="enter your password">
        <button value="submit">Submit</button>
    </div>
</form>
</body>